# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/contabilidad?schema=public"


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASSWORD=tu-contraseña-de-aplicación

# Configuración de la aplicación
NODE_ENV="development"

